img{
    max-width: 100%;
    max-height: 100%;
}
h1{
    font-size:50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.h2-text {
    margin-top: 40px;
    margin-bottom: 20px;
}
section p {
    font-size: 18px;
}
.footer {
    background: #152f4f;
    color: white;
}
.a_footer {
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: white;
}
.a_footer:hover {
    text-decoration: none;
    color: #4180cb;
}
.tel {
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: black;
}
.tel:hover{
    text-decoration: none;
}
.footer .links ul {
    list-style-type: none;
}
.footer .links li a {
    color: white;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer .links li a:hover {
    text-decoration: none;
    color: #4180cb;
}
.footer .about-company i {
    font-size: 25px;
}
.footer .about-company a {
    color: white;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.footer .about-company a:hover {
    color: #4180cb;
}
.footer .location i {
    font-size: 18px;
}
.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .icon {
    margin-right: 10px;
}